
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.name {
    font-family: 'Lora', sans-serif;
}



.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }

.modal-description {
    font-size: 16px;
  }
  
  
  
  